
<div class = "container">
<h3>診療について</h3>
診療科目
内科・整形外科・耳鼻咽喉科

<p>
診療時間（受付時間）
午前　9:00～13:00（8:30～12:30）
午後　14:30～18:30（14:00～18:00)
</p>

休診日
水曜日・日曜日・祝日


<h3>お知らせ</h3>

<!--データベースからとってくる-->


</div>
