<h1>診療のご案内</h1>

<!--担当医表を作って表示する。-->


<table border="2">
 <tr>
    <th>診療科</th><th>午前/午後</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th><th>日</th>
 </tr>   
 <tr>
   <td rowspan="2">内科</td><td>午前</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
 </tr>
 <tr>
   <td>午後</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
 </tr>
 <tr>
   <td rowspan="2">整形外科</td><td>午前</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
 </tr>
 <tr>
   <td>午後</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
 </tr>
 <tr>
   <td rowspan="2">耳鼻咽喉科</td><td>午前</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
 </tr>
 <tr>
   <td>午後</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
 </tr>
</table>


