mypage編集

    <p>患者ID</p>
    <input name="patient_id" value="<%= @patient.patient_id %>">
        
    <p>メールアドレス</p>
    <input name="email" value="<%= @patient.email %>">
    <input type="submit" value="保存">
    