.signup-form-left {
    text-align: center;
    margin-bottom: 20px;
    float: left;
    width: 49%;
}

.signup-form-right {
    text-align: center;
    margin-bottom: 20px;
    float: left;
    width: 49%;
}


input {
    margin-bottom: 15px;
}